.layout {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 2rem;
}

.domainGroup {
  margin-bottom: 2rem;
}

.card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0.5rem 0;
  background-color: #f9f9f9;
}
